.list .action {
  cursor: pointer;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 330px;
  margin: auto;
}

.navbar-brand {
  padding-left: 20px;
}

.nav-item {
  padding-top: 5px;
}

.form-group label {
  padding-bottom: 5px;
}
